.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-height: 600px;
  max-height: 756px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  padding-left: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  width: 268px;
  height: 32px;
  padding-top: 30px;
}

.title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin: 0;
  width: 730px;
}

.subtitle {
  font-size: 18px;
  line-height: 25px;
  width: 388px;
  margin: 0;
  padding-bottom: 30px;
}

.two_again {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  padding: 0 100px;
  margin-top: 100px;
}

.two_columns {
  display: flex;
  justify-content: space-between;
}

.brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.main_text {
  min-width: 784px;
  width: 80%;
}

.paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.paragraph:first-child {
  padding-bottom: 30px;
}

.paragraph:last-child {
  padding-top: 30px;
}

.bold {
  font-weight: 600;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.digits_title, .kaufman_title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.digits_subtitle, .kaufman_subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}

.table {
  width: 1100px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  column-gap: 30px;
}

.cell {
  width: 250px;
}

.cell:nth-child(4) {
  margin-bottom: 60px;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.text, .cell_bank {
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  padding-top: 100px;
  position: relative;
  height: 790px; /* Измените высоту по необходимости */
  background-color: #f2f2f2;
  overflow: hidden; /* Чтобы изображение не выходило за границы */
}

.feynman_title {
  margin: 0 auto;
  width: 648px;
  margin-bottom: 70px;
  text-align: center;
  line-height: 115px;
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.feynman_subtitle {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
}

.feynman_link {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-80%);
  text-align: center;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  padding-right: 48px;
  z-index: 1;
  text-decoration: none;
}

.feynman_img {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #fff;
}

.kaufman_table {
  padding-top: 80px;
  column-gap: 20px;
}

.kaufman_cell {
  z-index: 1;
  width: 200px;
}

.kaufman_cell:nth-child(4) {
  margin-bottom: 80px;
}

.kaufman_img {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}



